<% include ../partials/header %>

<div class="row border border-default">

        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
            <p>Picture</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
            <p>Pic</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
            <p>Name Product</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
            <p>Name</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
            <p>Promotion</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
            <p>Pro</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-none d-sm-block">
            <p>Action</p>
        </div>
        <div class="bg-secondary text-white p-2 mb-3 col-3 text-center d-block d-sm-none small">
            <p>Act</p>
        </div>

    <% for(let index =0 ; index < products.length ; index++) {%>
        <div class="py-2 col-3 text-center">
            <img src="<%=products[index].img[0]%>" width="100px" height="100px">
        </div>
        <div class="py-2 col-3 text-center">
            <p><%=products[index].nameproduct%></p>
        </div>
        <div class="py-2 col-3 text-center">
            <p><%=promotions[index]%></p>
        </div>
        <div class="py-2 col-3 text-center">
            <p>
                <a class="fa fa-eye" href="/admin/product/view-product/<%=products[index]._id%>"></a>
                <a class="fa fa-edit" href="<%=iduti%>/edit/<%=products[index]._id%>"></a>
                <a class="fa fa-remove" href="<%=iduti%>/delete/<%=products[index]._id%>"></a>
            </p>
        </div>
        
        <%};%>
</div>